<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="5">

	<parameter name="pdfngreport-properties"
		value="src/main/resources/report_resource/pdfngreport.properties" />

	<listeners>
		<listener class-name="com.uttesh.pdfngreport.PDFReportListener" />
	</listeners>


	<test verbose="2" name="Test1">
		<classes>
			<class name="com.xavient.test.script.Test_View3">
				<methods>
					<include name="view3_validate_table_data" />
					<include name="view3_table_sorting" />
					<include name="view3_table_pagination" />
				</methods>
			</class> <!-- com.xavient.test.script.Test_View3 -->
		</classes>
	</test>

	<test verbose="2" name="Test4">
		<classes>
			<class name="com.xavient.test.script.Test_View3">
				<methods>
					<include name="view3_table_pagination" />

				</methods>
			</class> <!-- com.xavient.test.script.Test_View3 -->
		</classes>
	</test>
	<test verbose="2" name="Test5">
		<classes>
			<class name="com.xavient.test.script.Test_View3">
				<methods>
					<include name="view3_table_sorting" />
				</methods>
			</class> <!-- com.xavient.test.script.Test_View3 -->
		</classes>
	</test>

	<test verbose="2" name="Test2">
		<classes>
			<class name="com.xavient.test.script.Test_View3">
				<methods>
					<include name="view3_validate_bar_graph_data" />
				</methods>
			</class> <!-- com.xavient.test.script.Test_View3 -->
		</classes>
	</test> <!-- Default test -->

	<test verbose="2" name="Test3">
		<classes>
			<class name="com.xavient.test.script.Test_View3">
				<methods>
					<include name="view3_validate_line_graph_data" />
				</methods>
			</class> <!-- com.xavient.test.script.Test_View3 -->
		</classes>
	</test>


</suite>